  body {
    font: 400 15px ekachon-regular, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #0056ff;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 16px;
    color: #0056ff;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 16px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {
    background-color: #0056ff;
    color: #fff;
    padding: 100px 25px;
    font-family: ekachon-regular, sans-serif;
  }
  .container-fluid {
    padding: 30px 30px;
  }
  .bg-grey {
    background-color: #eef1f9;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  .thumbnail {
    padding: 5px 5px 20px 5px;
    border: none;
    border-radius: 8px;
    border:1px solid #ccc;
    color:#f68b1f; 
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #eee; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
    border-radius: 10px !important;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #0056ff !important;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    /*background-color: #f4511e;*/
    background-color: #0056ff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: ekachon-regular, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }

.form-control {
  font-size: 13px !important;
}
.ldp {
  width:100%; height:200px;
  margin-top:40px;
}
.ldp1 {
  margin-top:40px;
  width:100%; height:85vh;
}
.ldp_img {
  width:100%; height: 100%;
  margin-top:10px;
  overflow: hidden;
  background-size: cover;
}
.navbar-default .navbar-toggle {
  color:#ffffff !important;
}
.intro {
  /*margin-top:58px;*/
  background:#ffffff;
  text-align: center;
}
/*
@media (min-width: 768px) {
  .banner {
     height: 85vh;
     width:auto;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
  }

}

@media only screen and (max-width: 480px) {
img {
width: 100%;
background-position: center center;
background-attachment: fixed;
background-size: cover;
background-color: #464646;
}
}
body {
  background-color: lightgreen;
}
@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }
}
*/

@media only screen and (max-width: 768px) {
  .container1 {
    width: 50%;
    height: 200px;
    /*overflow: hidden;*/
  }

  .container1 img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.clr {
  clear: both;
}
.header-line {
  letter-spacing: 2px;margin-top:90px;color:#ffffff;font-size:18px;
}
.gameNumber {
  text-align:center;
  font-size: 110px; color:#ffffff;
  margin-top:-20px; margin-bottom: -20px;
}
.game2-score {
  margin:auto;
  width:80%;
  background:#ffff00;
  height:60px;
}
.game2-box {
  width:22%; height: 80px; border:2px; float: left;
  background:#bdd3ff; text-align: center; border-radius: 10px;
  margin:4px;
}
.game2-box1 {
  width:28%; height: 60px; border:2px; float: left;
  background:#f68b1f; text-align: center; border-radius: 10px;
  margin:6px;
}
.game2-box1:hover {
  background-color: #002d63; cursor: pointer;
}
.game2-boxs {
  width:22%; height: 80px; border:2px; float: left;
  background:#0056ff; text-align: center; border-radius: 10px;
  margin:4px;
}
.NameLine {
  color:#f68b1f;font-weight: 600;padding-top:10px;
}
.box-msgtext {
  width:90%;background:#bdd3ff; border-radius: 10px; font-size: 12px; color:#555555;
  margin-top:30px; margin-right: auto; margin-left: auto; padding:20px; margin-bottom: 25px;
}
.box-linkapp {
  width:90%;background:#bdd3ff; border-radius: 10px; font-size: 12px; color:#555555;
  margin:10px; margin-right: auto; margin-left: auto; padding:10px; cursor: pointer;
}
.box-linkapp:hover {
  background:#f68b1f; color:#ffffff;
}
.box-text1 {
  width:10%; text-align: center; float: left;
}
.box-text2 {
  width:100%; text-align: left; 
}
.text-false {
  padding:10px 0 20px 0; color:#f68b1f; font-weight: 600; text-align: center; width:100%; font-size:16px;
}
.text-score {
  width:100%; font-size:12px; text-align: center; color:#bdd3ff;padding:8px 0 8px 0;
}
.text-warning {
  width:100%; font-size:12px; text-align: center; color:#ffffff;padding:8px;
  background:#000; border-radius: 10px; width:80%; margin-left: auto; margin-right: auto;
  margin-top:36px;
}
.game-a1 {
  text-align: center; font-size: 50px; font-weight: 600; color:#0056ff; margin-top:-5px;
}
.game-a2 {
  text-align: center; font-size: 10px; font-weight: 600; color:#002d63; margin-top:-10px;
}
.game-a3 {
  text-align: center; font-size: 36px; font-weight: 600; color:#ffffff; margin-top:-8px;
}
.game-a4 {
  text-align: center; font-size: 10px; font-weight: 600; color:#ffffff; margin-top:-5px;
}
.game-a5 {
  text-align: center; font-size: 50px; font-weight: 600; color:#000000; margin-top:-5px;
}
.box-score {
  width:300px; background-color: #f68b1f; height:40px; color:#ffffff; border-radius: 8px; 
  text-align: center; margin:auto; font-size:12px;
}
.box-tscore1 {
  width:120px; padding:10px 0px; float: left;
}
.box-tscore2 {
  width:90px; float: left; font-size:30px; margin-top:-3px;
}
.box-tscore3 {
  width:80px; padding:10px 0px; float: left;
}
.TextLastScore {
  font-size: 14px; width:100%; padding-top:10px; text-align: center; color:#0056ff;padding-bottom: 30px;
}
.profile-user {
  position: relative; width:90px; height:90px; margin:auto; 
}
.profile-user .profile-level {
  width:35px; height: 35px; border-radius: 50%; background:#002d63; 
  color:#fff; position: absolute; bottom: 0px; right: 0px; 
}
.profile-user .profile-numberlevel {
  font-size: 18px; text-align: center; margin-top:-2px;
}
.profile-user .profile-textlevel {
  font-size: 8px; text-align: center; margin-top:-8px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 5px; padding-left: 5px;
}
.msg-text {
  line-height: 1.4;font-size: 13px; color:#0056ff;padding-bottom: 20px;
}
.msg-goal {
  font-size: 15px; letter-spacing: 1px; color: #002d63; line-height: 1.4em; margin-top:-15px;
}
.msg-4h {
  width:100%;margin-left:auto; margin-right: auto; padding:20px; margin-top:10px; 
  text-align: left; color:#555555; line-height: 1.4em; font-weight: 300;
}
.msg-4h1 {
  width:100%;margin-left:auto; margin-right: auto; text-align: center; padding-top:10px;
  color:#555555; line-height: 1.4em;
}
.font-4h {
  font-size: 16px; font-weight: 600; color:#f68b1f; 
}
.box-4h {
  float: left;width:46%;padding:15px 5px;border-radius: 10px; background-color: #eef1f9;margin:5px;height:210px;
  border:1px solid #eef1f9;
}
.h3div {
  margin-bottom:30px; font-weight:600; font-size: 16px; color: #f68b1f; line-height: 1.4;
}
.heading-msg {
  font-size:14px;color:#fff;line-height: 1.2;
}
.panel-footer { 
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.text-intro {
  font-size: 14px; color:#000000; padding-bottom: 20px; letter-spacing: 2px;
}
.text-intro1 {
  font-size: 13px; color:#0056ff; padding-bottom: 30px; letter-spacing: 1.5px;
}
.text-home {
  font-size:17px; color:#000000;
}
.text-4heart1 {
  font-size: 13px;line-height: 1.4em;color:#000000;text-align: center; margin-top:-25px; 
  width:100%; font-weight: 700;
}
.text-4heart2 {
  font-size: 13px;line-height: 1.4em;color:#000000;text-align: left; width:100%; padding-top:15px;
  letter-spacing: 1px;
}
.text-4heart3 {
  font-size:12px; text-align: left;margin-left:-25px;margin-top:20px;
}
.panel-body { 
  padding:5px;
}
.box-showimg {
  width:100%;margin-left: auto; margin-right: auto; margin-top:20px;text-align: center;
  background-color: #ffff00;
}
.box-list {
  width:50px; height: 50px; float: left; margin:3px; 
}



[data-title] {
  font-size: 18px;
  position: relative;
  cursor: help;
}
  
[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -36px;
  padding: 6px 15px;
  background: #0056ff;
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
  border-radius: 5px;
  z-index: 100;
}
[data-title]:hover::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 8px;
  border: 8px solid transparent;  
  border-bottom: 8px solid #0056ff;
  z-index: 100;
}
.text-score {
  color:#0056ff; font-weight: 600; font-size: 60px;letter-spacing: 2px;margin-top:-20px;
}
.imgprofile {
  width: 150px;
  padding:4px;
  /*border: 5px solid #ffffff;**/
  border-radius: 50%;
}
.container-max {
  width:100% !important;
}
.QuizImg {
  max-width:350px;width:100%;margin-bottom: 10px; border-radius: 10px; border:2px solid #ffffff;
}
.QuizIntro {
  max-width:300px;width: 100%; margin-top:10px;margin-bottom: 10px; border-radius: 20px;
}
